@tailwind base;
@tailwind components;
@tailwind utilities;

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f39c12;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  animation: fall 3s ease-out infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
